- provide(:title, "#{t('common.title')} | Index")

%ul.food-index
  - @food_hash.each do |l, fs|
    %li
      %h2= l
      %ul
        - fs.each do |f|
          %li
            = link_to(f.name, food_item_path(f))
            %span.brand
              = f.brand if f.brand
