// Place all the styles related to the food_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "foundation/components/global";

.food-index {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;

  >li {
    margin-top: 0.5em;
  }

  li {
    list-style-type: none;
  }
    
  a {
    color: $jumbo;
    font-size: 1em;

    &:hover {
	    color: $oil;
    }
  }

  span.brand {
    text-transform: uppercase;
    font-size: 0.8em;
    color: $oil;
  }
    
  h2 {
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: sans-serif;
  }
}

.food-item {
  h1 {
    font-family: sans-serif;
    color: $jumbo;
    font-size: 2em;
  }

  span.brand {
    text-transform: uppercase;
    font-size: 0.8em;
    color: $oil;
  }
}

/* New food item valida */

.LV_validation_message{
  margin: 0 0 0 5px;
}

.LV_valid {
  color:#00CC00;
  display: none;
}
	
.LV_invalid {
  color:#CC0000;
}


.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
  border: 1px solid #00CC00 !important;
}
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
  border: 1px solid #CC0000 !important;
}

/* Needed for livevalidation error msgs */
/* They look confusing without this fix */
.new_food_item {
  input[type="text"] {
    margin: 5px 0 0 0 !important;
  }
}