%nav.top-bar{ "data-topbar" => true, role: "navigation" }
  %ul.title-area
    %li.name
      %h1
        =link_to("Keto kalkulator", root_path)
    %li.toggle-topbar.menu-icon
      %a{ href: "#" }
        %span Menu

  %section.top-bar-section
    %ul.right.show-for-large-up
      %li.active
        =link_to("Dodaj novu namirnicu", new_food_item_path)
      %li
        =link_to("Indeks namirnica", food_items_path)

    %ul.left
      %li
        %a{ href: "#" } Left Nav Button
