%nav.top-bar{ "data-topbar" => true, role: "navigation" }
  %ul.title-area
    %li.name
      %h1
        =link_to(t('common.title'), root_path)
    %li.toggle-topbar.menu-icon
      %a{ href: "#" }
        %span Menu

  %section.top-bar-section
    %ul.right.show-for-large-up
      %li.active
        =link_to(t('navbar.add_food_item'), new_food_item_path)
      %li
        =link_to(t('navbar.list_food_items'), food_items_path)

    %ul.left
      %li
        - if I18n.locale == :sr
          = link_to "en", locale: :en
        - else
          = link_to "sr", locale: :sr